::selection {
  background: #2BFDA8;
}

::-moz-selection { /* Code for Firefox */
  background: #2BFDA8;
}

body {
	background-color: #4E425B;
	color: white;
	text-align: center;
	font-family: "Cairo", "Arial", sans-serif;
	text-shadow: 0 0 4px black;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #cecece;
}

a:after {
	color: #82b3b3;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#title, #info {
	color: silver;
}

.image {
	margin: 20px 20x 20px 20px;
	height: 256px;
}

.footer {
  color: gray;
  text-shadow: 2px;
  font-size: 10px;
  position: fixed;
  left: 0;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

.footer a {
	color: gray;
}
